<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <title>Temperature Converter 2</title>

</head>

<body>

    <header class="header">

        <h1 class="aa1">Konversi Suhu</h1>
        <p>Masukkan suhu dalam satuan Celsius ke dalam kotak dibawah. <br></p>
        <p>Lalu, suhu yang dimasukkan dalam satuan Celsius akan dikoversikan kedalam satuan Fahrenheit.</p>

    </header> <br>

    <section class="InputSection">

        <!--Ranah input section!-->

        <div class="kalkulasi">
        <label for="InputField"; class="label1">Masukkan suhu dalam satuan Celsius</label> <br>
        <input type="number"; id="InputField"> <br>

        <div id="buttons">
        <button> Conversion </button>
        <button> Reset </button>
        <button> Reverse </button>
        </div> <br>

        <label for="InputField2"; class="label1">Masukkan suhu dalam satuan Fahrenheit</label> <br>
        <input type="number"; id="InputField2"> <br>
        </div>
    
        <!--Ranah input section!-->

        <div class="rumus">
        <h2>Metode Kalkulasi: </h2>
        <h3> Fahrenheit = (Suhu dalam satuan celsius * 1.8) + 32</h3>
        </div> 
        
        <!--Mendisplay rumus-->

    </section> <br>

    <footer class="copyrights">

        <p>premiummayonaisse, 2023 all rights reserved</p>
        
        
    </footer>
</body>
</html>