<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Proyek Kalkulator/style2.css">
    <title>Temperature Converter 2</title>

</head>

<body>

    <header>

        <h1 class="aa1">Konversi Temperatur</h1>

    </header>

    <section class="InputSection">

        <label for="InputField"; class="label1">Celsius</label>
        <input type="number"; id="InputField">

        <div id="buttons">
        <button> Conversion </button>
        <button> Reset </button>
        <button> Reverse </button>
        </div>

    </section>

    <footer>

        
    </footer>
</body>
</html>