body {
    font-family:'Courier New', Courier;
    background-color: #EEE3CB;
    color: #a4acad;
    display:flex;
    flex-direction:row;
    height:580px;
    margin:50px 20px;
    border-radius: 45px;
    background-image: url('https://images.pexels.com/photos/225011/pexels-photo-225011.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.header {
    background-color: #5D5B6A ;
    font-family:'Courier New', Courier;
    font-size:larger;
    font-weight:bold;
    text-align:initial;
    padding: 50px;
    background-image: url('https://images.pexels.com/photos/4344320/pexels-photo-4344320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.label1 {
    font-size: 18px;
    font-weight: bold;
    font-family:'Courier New', Courier;
    background-color: ;
    color: #a4acad;
    }


button {
    padding: 10px 20px;
    border-radius: 5px;
    color:solid #CFB495;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 100px;
    text-align:center;
    font-family:'Courier New';
    font-weight: bold;
}

#buttons:focus {
    background:solid #bebbc2;
}

button:active {
    transform: translateY(1px);
    background-color: #c4beca;
}

input {
    outline: none;
    font-size: 18px;
    font-family:'Trebuchet MS';
    font-weight:bold;
    border-radius: 8px;
    padding: 10px;
    border: solid #5D5B6A;
    height:50px;
    cursor: pointer;
    background-color:#85827d;
}


.InputSection {
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-image:url('https://images.pexels.com/photos/8471854/pexels-photo-8471854.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.kalkulasi {
    display:flex;
    flex-direction:column;
    padding: 30px;
}

#rumus {
    background-image: url('htt://images.pexels.com/photos/5185093/pexels-photo-5185093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    padding: 30px;
    display: flex;
    flex-direction:column;
    text-align: left;
}

#buttons {
    display: flex;
    flex-direction:row;
    align-self: center;
    background-color: solid #CFB495;
}

.copyrights{
    padding: 20px;
    text-align:left;
    color:#a4acad;
    background-color:#5D5B6A;
    background-image: url('https://images.pexels.com/photos/63437/pexels-photo-63437.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
}