body {
    font-family:'Courier New', Courier;
    background-color: #EEE2DE;
}

.header {
    background-color: ;
    font-family:'Courier New', Courier;
    font-weight:bold;
    text-align:left;
    color:black;
}

.label1 {
    font-size: 18px;
    font-weight: bold;
    font-family:'Courier New', Courier;
    background-color: #EEE2DE;
    }


button {
    padding: 10px 20px;
    border-radius: 5px;
    color:solid #F3E8FF;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 100px;
    text-align:center;
    font-family:'Courier New';
}

#buttons:focus {
    background:solid #bebbc2;
}

button:active {
    transform: translateY(1px);
    background-color: #c4beca;
}

input {
    outline: none;
    font-size: 18px;
    font-family:'Trebuchet MS';
    font-weight:bold;
    border-radius: 8px;
    padding: 10px;
    border: solid #B31312;
    height:50px;
}


.InputSection {
    display: flex;
    flex-direction: column;
}

#cara {
    
}

#buttons {
    display: flex;
    flex-direction:row;
    align-self: center;
}

.copyrights{
    text-align:left;
    color:black;
}