body {
    font-family:'Courier New', Courier;
    background-color: #EEE3CB;
    color: #a4acad;
    display:flex;
    flex-direction:row;
    height:720px;
    margin:0px 20px;
    
}

.header {
    background-color: #5D5B6A ;
    font-family:'Courier New', Courier;
    font-size:larger;
    font-weight:bold;
    text-align:initial;
    padding: 50px;
}

.label1 {
    font-size: 18px;
    font-weight: bold;
    font-family:'Courier New', Courier;
    background-color: ;
    color: #a4acad;
    }


button {
    padding: 10px 20px;
    border-radius: 5px;
    color:solid #CFB495;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 100px;
    text-align:center;
    font-family:'Courier New';
    font-weight: bold;
}

#buttons:focus {
    background:solid #bebbc2;
}

button:active {
    transform: translateY(1px);
    background-color: #c4beca;
}

input {
    outline: none;
    font-size: 18px;
    font-family:'Trebuchet MS';
    font-weight:bold;
    border-radius: 8px;
    padding: 10px;
    border: solid #5D5B6A;
    height:50px;
    cursor: pointer;
}


.InputSection {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.kalkulasi {
    display:flex;
    flex-direction:column;
    padding: 30px;
    background-color: #54535e;
}

.rumus {
    background-color:#5D5B6A;
    padding: 30px;
    display: flex;
    flex-direction:column;
    text-align: left;
}

#buttons {
    display: flex;
    flex-direction:row;
    align-self: center;
    background-color: solid #CFB495;
}

.copyrights{
    padding: 20px;
    text-align:left;
    color:#a4acad;
    background-color:#5D5B6A;
}